cffi==1.17.1
cryptography==44.0.0
cx-Oracle==8.3.0
et_xmlfile==2.0.0
greenlet==3.1.1
numpy==2.2.1
openpyxl==3.1.5
oracledb==2.5.1
pandas==2.2.3
pycparser==2.22
pyodbc==5.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
six==1.17.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
tzdata==2024.2
